/* Viga */

@font-face {
    font-family: Viga;
    font-style: normal;
    font-weight: bold;
    src: url(fonts/viga.eot);
    src: url(fonts/viga.eot) format("embedded-opentype"), url(fonts/viga.woff) format("woff");
}


/* common stuff */

body {
    margin: 0px;
    padding: 0px;
    background-image: url(images/bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}

body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}

h1, h2, h3 {
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
}

h1 {
    margin-top: 0px;
}

h2 {
    color: #c22;
}

a {
    color: #c22;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.main-wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: white;
}

blockquote {
    font-style: italic;
}


/* header */

div.main-header {
    position: relative;
    width: 940px;
    height: 200px;
    background-image: url(images/header.png);
}

div.main-header a.logo {
    position: absolute;
    top: 45px;
    left: 95px;
}

div.main-header div.external-links {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fb0;
    font-size: 12px;
}

div.main-header div.external-links a {
    color: white; 
    text-decoration: none;
}

div.main-header div.external-links a:hover {
    text-decoration: underline;
}

div.main-header a.emory-logo {
    display: block;
    position: absolute;
    width: 180px;
    height: 60px;
    left: 745px;
    top: 65px;
}

div.main-header ul.main-menu {
    display: block;
    left: 15px;
    top: 163px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
    font-weight: bold;
}

div.main-header ul.main-menu li {
    display: block;
    float: left;
}

div.main-header ul.main-menu li a {
    display: block;
    line-height: 1;
    font-size: 16px;
    padding: 11px 9px 12px 9px;
    color: white;
    text-decoration: none;
    margin-left: -1px;
    margin-right: -1px;
    -transition: background-color 100ms;
}

div.main-header ul.main-menu li a:hover {
    background-color: #c22;
}

div.main-header ul.main-menu li a.active {
    background-color: #c22;
}


/* content */

div.main-content {
    padding: 15px;
}


/* footer */

div.main-footer {
    margin-top: 20px;
    border-top: 2px solid #eee;
    margin-left: 15px;
    margin-right: 15px;
}

div.main-footer table.blocks {
    margin-top: 20px;
}

div.main-footer table.blocks td.title {
    vertical-align: top;
    width: 220px;
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
    font-size: 1.2em;
    padding-bottom: 3px;
}

div.main-footer table.blocks td.box {
    vertical-align: top;
    width: 204px;
    padding: 6px 8px;
    font-size: 12px;
    background-color: #eee;
    color: white;
}

div.main-footer table.blocks td.sep {
    width: 10px;
}

div.main-footer table.blocks td.title.address {
    color: #a00;
}

div.main-footer table.blocks td.box.address {
    background-color: #a00;
}

div.main-footer table.blocks td.title.contact {
    color: #d22;
}

div.main-footer table.blocks td.box.contact {
    background-color: #d22;
}

div.main-footer table.blocks td.title.corpsports {
    color: #f60;
}

div.main-footer table.blocks td.box.corpsports {
    background-color: #f60;
}

div.main-footer table.blocks td.title.facebook {
    color: #46a;
}

div.main-footer table.blocks td.box.facebook {
    background-color: #46a;
}

div.main-footer table.blocks td.box.facebook div.box-content {
    position: relative;
}

div.main-footer table.blocks td.box.facebook div.box-content a.icon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.main-footer table.blocks td.box.facebook div.box-content a.icon img {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.main-footer table.blocks td.box.facebook div.box-content div.label {
    margin-left: 48px;
    min-height: 40px;
}

div.main-footer table.blocks td.box.facebook-like {
    background-color: #46a;
}

div.main-footer table.blocks td.box.facebook-like div.box-content {
    position: relative;
}

div.main-footer table.blocks td.box.facebook-like div.box-content div.like-button-container {
    display: block;
    width: 44px;
    position: absolute;
    top: 1px;
    left: 0px;
}

div.main-footer table.blocks td.box.facebook-like div.box-content div.text {
    margin-left: 52px;
    min-height: 40px;
}

div.main-footer table.blocks td.box.facebook-like div.box-content div.text div.find-us {
    font-weight: bold;
}

div.main-footer table.blocks td.box.facebook-like div.box-content div.text div.link a {
    color: white;
}

div.main-footer div.copyright {
    margin-top: 15px;
    color: #888;
    text-align: center;
    font-size: 12px;
}

div.main-footer div.copyright a {
    color: #888;
    text-decoration: underline;
}


/* main content columns */

table.regular-page-layout {
    border-collapse: collapse;
}

td.regular-page-sidebar {
    vertical-align: top;
    border-right: 2px solid #eee;
    width: 200px;
    padding-right: 20px;
}

td.regular-page-sidebar div.section {
}

td.regular-page-sidebar div.section div.title {
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
    font-size: 1.5em;
}

td.regular-page-sidebar div.section ul.links {
    display: block;
    margin: 10px 0px 0px 0px; 
    padding: 0px;
}

td.regular-page-sidebar div.section ul.links li {
    display: block;
}

td.regular-page-sidebar div.section ul.links li a {
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
    font-size: 1.2em;
    color: #c22;
    text-decoration: none;
}

td.regular-page-sidebar div.section ul.links li a:hover {
    text-decoration: underline;
}

td.regular-page-sidebar div.section ul.links li ul {
    display: block;
    margin: 5px 0px 10px 25px; 
    padding: 0px;
}

td.regular-page-sidebar div.section ul.links li ul li {
    display: list-item;
    list-style-type: square;
}

td.regular-page-sidebar div.section ul.links li ul li a {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1em;
    color: black;
}

td.regular-page-main-column {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
}


/* homepage top welcome block */

div.homepage-welcome-block {
    position: relative;
    height: 270px;
}

div.homepage-welcome-block img.cover-photo {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.homepage-welcome-block div.text {
    position: absolute;
    left: 295px;
    top: 0px;
}

div.homepage-welcome-block div.text div.title1 {
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

div.homepage-welcome-block div.text div.title2 {
    font-family: Viga, Helvetica, Arial, Verdana, sans-serif, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #c22;
}

div.homepage-welcome-block div.text div.intro {
    margin-bottom: 1em;
    color: #666;
}

div.homepage-welcome-block div.photos {
    position: absolute;
    left: 295px;
    top: 142px;
}

div.homepage-welcome-block div.photos table.photos {
    border-collapse: collapse;
}

div.homepage-welcome-block div.photos table.photos td.photo {
    padding-right: 10px;
}

div.homepage-welcome-block div.photos table.photos td.photo:last-child {
    padding-right: 0px;
}

div.homepage-welcome-block div.photos table.photos td.photo a {
    display: block;
    background-color: #222;
    width: 144px;
    height: 108px;
}

div.homepage-welcome-block div.photos div.see-more {
    margin-top: 0.5em;
    text-align: right;
    font-size: 12px;
}


/* homapage news and updates columns */

div.homepage-events-and-udpates-block {
    margin-top: 15px;
    border-top: 2px solid #eee;
    padding-top: 15px;
}

div.homepage-events-and-udpates-block table.homepage-events-and-udpates-block {
    border-collapse: collapse;
}

div.homepage-events-and-udpates-block td.events-column {
    vertical-align: top;
    width: 429px;
    padding-right: 15px;
    border-right: 2px solid #eee;
}

div.homepage-events-and-udpates-block td.updates-column {
    vertical-align: top;
    width: 429px;
    padding-left: 15px;
}

div.homepage-events-and-udpates-block h2 {
    color: #222;
    margin-top: 0px;
}

div.homepage-events-and-udpates-block div.items {
}

div.homepage-events-and-udpates-block div.items div.item {
    position: relative;
    margin-top: 1em;
    padding-left: 45px;
}

div.homepage-events-and-udpates-block div.items div.item span.icon {
    position: absolute;
    display: block;
    top: 0px;
    left: 5px;
    width: 24px;
    height: 24px;
    background-image: url(images/icons.png);
}

div.homepage-events-and-udpates-block td.events-column div.items div.item span.icon {
    background-position: 0px 0px;
}

div.homepage-events-and-udpates-block td.updates-column div.items div.item span.icon {
    background-position: -24px 0px;
}

div.homepage-events-and-udpates-block div.items div.item div.title {
    color: #c22;
    font-weight: bold;
}

div.homepage-events-and-udpates-block div.items div.item div.date {
    font-weight: bold;
    display: inline;
}

div.homepage-events-and-udpates-block div.items div.item div.description {
    display: inline;
}
